  body {
    font-family: Arial, sans-serif;
    background-color: rgb(236, 217, 193);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    margin: 50px 0;
    /* Add margin to the top and bottom of the body */
    padding: 0;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

#container {
    width: 750px;
    margin: 0 auto;
    background-color: rgb(236, 217, 193);
    padding: 20px 0;
    border-radius: 5px;
    
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 79%;
    padding: 18px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#updateResults {
    float: right;
}

button {
    background-color: #0ef8be;
    color: #090808;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 110px;
    margin-left: 110px;
    margin: 20px 0;
    margin-inline-start: 37px;
}

button:hover {
    background-color: #0056b3;
    color: white;
}

#clearButton {
    border-radius: 2px;
    margin-top: 30px;
    margin-inline-start: 10px;
    justify-content: space-between;
    margin-right: 110px;
}

#results {
    margin-top: 20px;
}

@media (max-width: 600px) {
    #container {
        width: 80%;
    }
    /* Adjust padding or font size as needed for better visibility on smaller screens */
    #container input[type="text"],
    #container input[type="number"],
    #container button {
        padding: 8px;
        margin: 5px;
    }
    #tableDisplay {
        border-collapse: collapse;
        width: 60%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    th,
    td {
        border: 1px solid #f30b0b;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #d68e30;
    }
}
/* For WebKit (Chrome, Safari) */

 ::-webkit-scrollbar {
    width: 1;
    /* Set the width to 0 to make it invisible */
}
/* For Firefox */

body {
    scrollbar-width: auto;
    /* "thin" or "none" can be used to hide the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(227, 206, 206);
    /* Set the background color to transparent */
}

h1 {
    color: rgb(75, 25, 25);
    background-color: rgb(236, 217, 193);
}

h6 {
    float: left;
    font: bold;
    color: #090808;
    
}

h2 {
    background-color:  rgb(236, 217, 193);
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-inline-start: 150px;
}

th,
td {
    border: 1px solid #f30b0b;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d68e30;
}
.wise{
    
    font-weight:900;
    font-size: 40px;
}



  